<h1>Galpões & Estoque</h1>

<h2>Galpões</h2>
<% if @warehouses.empty? %>
    <p>Não existem galpões cadastrados.</p>
<% end%>
<% @warehouses.each do |warehouse| %>
    <%= link_to(warehouse.name, warehouse_path(warehouse.id)) %>
    Cidade: <%= warehouse.city %>
    Código: <%= warehouse.code %>
    <%= warehouse.area %> m2
<% end %>